<template>
    <div class="account">
        <h1 class="heading">Account</h1>
        <button class="button block" @click="signOut" :disabled="loading">Sign Out</button>
        <hr />
        <p>{{ store?.user?.email }}</p>
        <table>
            <draggable :list="store.newsSourceOptions" group="news_source_options" handle=".handle" item-key="id" @change="onDragChange">
                <template #item="{ element }">
                    <tr>
                        <td class="handle">= {{ element.sort }}</td>
                        <td>
                            <input id="existing_news_source_name" type="text" :value="element.news_source_name" />
                        </td>
                        <td>
                            <input id="existing_news_source_link" type="text" :value="element.news_source_link" />
                        </td>
                        <td>
                            <input id="existing_link_as_description" type="checkbox"
                                :checked="element.link_as_description" />
                        </td>
                        <td>
                            <button @click="onClickDelete(element)">Delete</button>
                        </td>
                    </tr>
                </template>
            </draggable>
            <hr />
            <tr>
                <td>
                    Add new
                </td>
                <td>
                    <input id="insert_news_source_name" type="text" v-model="insert_news_source_name"
                        placeholder="Name" />
                </td>

                <td>
                    <input id="insert_news_source_link" type="text" v-model="insert_news_source_link"
                        placeholder="Link" />
                </td>

                <td>
                    <label for="insert_link_as_description">Link as description</label>
                    <input id="insert_link_as_description" type="checkbox" v-model="insert_link_as_description" />
                </td>
                <div>
                    <button @click="onClickAdd()">Add</button>
                </div>
            </tr>
        </table>
    </div>
</template>

<script setup lang="ts">
import { supabase } from "../supabase"
import { store } from "../store"
import { loadNewsSourceOptions } from "../api";
import { onMounted, ref } from "vue"
import draggable from 'vuedraggable';

const loading = ref(false)
const insert_news_source_name = ref("")
const insert_news_source_link = ref("")
const insert_link_as_description = ref(false);

async function getProfile() {
    loadNewsSourceOptions();
}

async function signOut() {
    try {
        loading.value = true
        let { error } = await supabase.auth.signOut()
        if (error) throw error
    } catch (error: any) {
        alert(error.message)
    } finally {
        loading.value = false
    }
}

async function onClickDelete(item: NewsSourceOption) {
    if (!store.user) {
        return;
    }

    let { error } = await supabase.from("news_source").delete()
        .eq('user_id', store.user.id)
        .eq('id', item.id);

    getProfile()
}

async function onClickAdd() {
    if (!store.user) {
        return;
    }

    if (!insert_news_source_name.value || !insert_news_source_link.value) {
        return;
    }

    const updates = {
        user_id: store.user.id,
        news_source_name: insert_news_source_name.value,
        news_source_link: insert_news_source_link.value,
        sort: store.newsSourceOptions.length,
        link_as_description: insert_link_as_description.value
    }

    let { error } = await supabase.from("news_source").upsert(updates);

    getProfile()
}

async function onDragChange(event: any) {
    if (!store.user) {
        return;
    }

    if (!event.moved) {
        return;
    }

    const updates = store.newsSourceOptions.map((item, index) => ({
        ...item,
        user_id: store.user!.id,
        sort: index
    }));

    await supabase.from("news_source").upsert(updates);

    getProfile()
}

onMounted(() => {
    getProfile()
})
</script>

<style scoped>
table {
    width: 100%;
}

tr {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

td {
    text-align: center;
    align-self: center;
    white-space: nowrap;
}

input[type="checkbox"] {
    margin: 1rem;
}

.handle {
    cursor: pointer;
}
</style>