<template>
    <form @submit.prevent="handleLogin">
        <div>
            <h1>Sign in</h1>
            <p>Sign in via magic link with your email below</p>
            <div>
                <input type="email" placeholder="Your email" v-model="email" />
            </div>
            <div>
                <input type="submit" :value="loading ? 'Loading' : 'Send magic link'" :disabled="loading" />
            </div>
        </div>
    </form>
</template>

<script setup lang="ts">
import { ref } from "vue"
import { supabase,session } from "../supabase";

const loading = ref(false)
const email = ref("")

const handleLogin = async () => {
    try {
        loading.value = true
        const { error } = await supabase.auth.signInWithOtp(
            {
                email: email.value,
                options: {
                    emailRedirectTo: import.meta.env.VITE_AUTH_REDIRECT_URL?.toString()
                }
            })        
        if (error) throw error
        alert("Check your email for the login link!")
    } catch (error: any) {
        alert(error.error_description || error.message)
    } finally {
        loading.value = false
    }
}
</script>

<style scoped></style>