<template>
    <!-- <div class="tabs">
        <button v-for="groupId in groupedOptions.length" @click="tabOpen = groupId" :class="{
            option: true,
            active: tabOpen == groupId
        }">{{ groupId }}</button>
    </div> -->
    <!-- <div v-for="groupId in groupedOptions.length"> -->
        <!-- <template v-if="tabOpen == groupId"> -->
            <router-link v-for="(source, index) in store?.newsSourceOptions" :key="source.news_source_link"
                :to="'/news/' + index" :class="{
                    option: true,
                    active: store.newsSourceActive == index
                }">{{ source.news_source_name }}</router-link>
        <!-- </template> -->
    <!-- </div> -->
</template>

<script setup lang="ts">
import { watch, computed, ref } from 'vue';
import { store } from '../store';
import { useRoute } from 'vue-router';
import { loadNewsSourceByIndex } from '../api';

const route = useRoute();

async function onRouteChange(params: any) {
    let newsSourceIndex = 0;
    if (typeof params.source === 'string') {
        newsSourceIndex = parseInt(params.source)
    }
    loadNewsSourceByIndex(newsSourceIndex);
}

watch(() => route.params, onRouteChange);

onRouteChange(route.params);

const groupedOptions = computed(() => {
    const result = [];
    const pageSize = 11;
    for (let i = 0; i < store?.newsSourceOptions.length / pageSize; i++) {
        result[i] = store?.newsSourceOptions.slice(i * pageSize, i * pageSize + pageSize);
    }
    return result;
})

const tabOpen = ref(1);

</script>

<style scoped>
.option {
    margin-right: 10px;
    margin-bottom: 8px;
    text-decoration: none;
    padding: 3px 6px;
    display: inline-block;
    background-color: #d2eeff8f;
    border-bottom: solid 1.5px white;
    cursor: pointer;
    user-select: none;
}

.option:visited {
    color: #01437e;
}

.option.active {
    border-bottom: solid 1.5px #01437e;
}

.tabs {
    display: flex;
}

button.option {
    display: inline-block;
    border: none;
    padding: 3px 12px;
    color: #01437e;
    width: 100%;
}
</style>