<template>
    <div class="results">
        <Transition name="fade">
            <div v-if="store.newsSourceResults.length > 1">
                <div class="result-item" v-for="item in store.newsSourceResults" :key="item.title">
                    <router-link
                        class="reader"
                        :to="`/news/${store.newsSourceActive}/article?link=${item.link}`"
                    >{{ item.title }}</router-link>
                    <a class="direct" :href="item.link" target="_blank" rel="noopener">Link</a>
                    <p class="snippet">
                        {{
                            store.newsSourceActive == null ? item.contentSnippet :
                                (store.newsSourceOptions[store.newsSourceActive].link_as_description ?
                                    item.link :
                                    item.contentSnippet)
                        }}
                    </p>
                </div>
            </div>
        </Transition>
    </div>
</template>


<script setup lang="ts">
import { store } from '../store';
</script>

<style scoped>
.result-item {
    margin: 16px 0;
    display: grid;
    grid-template-columns: 1fr auto;
}
.snippet {
    color: #38495b;
    font-size: 15px;
    margin: 6px 0;
    max-height: 2.5em;
    overflow: hidden;
}
.direct {
    margin-left: 16px;
}
</style>
