<template>
    <router-link to="/">Home</router-link>
    <Account v-if="store.user" />
    <Auth v-else />
</template>

<script setup lang="ts">
import { store } from "../store"
import Auth from "../components/Auth.vue"
import Account from "../components/Account.vue"

</script>