<template>
    <div class="content">
        <router-link :to="`/news/${route.params.source}`">Back</router-link>
        <a
            class="direct"
            v-if="typeof route.query.link === 'string'"
            :href="route.query.link"
            target="_blank"
            rel="noopener"
        >Article Link</a>
        <transition name="fade">
            <div v-if="store.articleContent">
                <div class="meta">
                    <h3>{{ store.articleContent?.siteName }}</h3>
                    <span
                        v-if="store.articleContent"
                    >{{ Math.ceil(store.articleContent.length / 200 / 5) + ' Minutes' }}</span>
                </div>
                <h1>{{ store.articleContent?.title }}</h1>
                <span v-html="store.articleContent?.content"></span>
                <router-link :to="`/news/${route.params.source}`">Back</router-link>
                <a
                    class="direct"
                    v-if="typeof route.query.link === 'string'"
                    :href="route.query.link"
                    target="_blank"
                    rel="noopener"
                >Article Link</a>
            </div>
        </transition>
    </div>
</template>

<script setup lang="ts">
import { watch } from 'vue';
import { store } from "../store";
import { useRoute } from 'vue-router';
import { loadArticle } from '../api';

const route = useRoute();

async function onRouteChange(query: any) {
    if (typeof query.link === 'string') {
        loadArticle(query.link);
    }
}

watch(() => route.params, onRouteChange);

onRouteChange(route.query);
</script>

<style scoped>
.content h1 {
    text-transform: capitalize;
}
.direct {
    float: right;
}
.meta > * {
    display: inline-block;
    margin: 0 16px 0 0;
    color: #38495b;
}
.meta > h3 {
    text-transform: capitalize;
}
.meta {
    border: solid 1px #38495b;
    padding: 16px;
    margin-top: 16px;
}
</style>