<template>
    <NewSourceOptions v-if="store.user" />
    <NewSourceResults v-if="store.user" />
    <Auth v-else />
</template>


<script setup lang="ts">
import { store } from "../store"
import NewSourceOptions from '../components/NewSourceOptions.vue'
import NewSourceResults from '../components/NewSourceResults.vue'
import Auth from "../components/Auth.vue"
</script>
