<template>
  <div class="router">
    <router-view></router-view>
  </div>
  <img class="loading-img" src="/plutonews-512.png" />
  <footer>
    <div class="footer">
      <h2 class="heading">Pluto news</h2>
      <a
        href="https://gitlab.com/plutoapps/pluto-news-vue"
        target="_blank"
        rel="noopener"
      >Source on GitLab</a>
      <router-link to="/">Home</router-link>
      <router-link to="/account">Account</router-link>
    </div>
  </footer>
</template>

<script setup lang="ts">
import { store } from "./store"
import { supabase,session } from "./supabase"
import { loadNewsSourceOptions } from './api';

supabase.auth.onAuthStateChange((_, session) => {
  store.user = session?.user;
  loadNewsSourceOptions();
});
</script>

<style>
body {
  margin: 0;
  color: #2c3e50;
  font-family: sans-serif;
}
body,
input,
button {
  font-size: 18px;
}
input,
button {
  margin: 8px 0;
  padding: 4px 8px;
}
a {
  color: #01437e;
}
a:visited {
  color: #1c0082;
}
.heading {
  font-size: 2em;
  text-transform: full-width;
}
img {
  display: none;
  max-width: 100%;
  object-fit: contain;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.loading-img {
  display: block;
  opacity: 50%;
  margin: auto;
}
</style>

<style scoped>
.router,
.footer {
  width: 100%;
  max-width: min(800px, 90%);
  margin: 1.5rem auto;
}
footer {
  background-color: gainsboro;
  padding: 1rem 0;
}
.footer a {
  white-space: nowrap;
  margin-right: 16px;
}
.footer h2 {
  display: inline-block;
  margin: 0 20px 0 0;
}
</style>